task: determined
goal: regression

dataset: 
  dataname: FLIP-GB1-sampled
  csv_root: data/FLIP-GB1/splits/sampled_{}.csv
  num_classes: 1

project_name: EsmMHAGraphHead-FLIP-GB1-sampled-C300M

esm_config:
  model_name: esmc_300m
  model_size: 300M
  in_features: 960
  hidden_features: 960
  output_attentions: True
  contact_compression: mean_head
  num_hidden_layers: 30
  num_attention_heads: 15

head_config:
  head_name: EsmMHAGraphHead
  attention_features: 128
  attention_heads: 4
  dropout_rate: 0.1

fp16: True
quantized: False
peft: True

sweep_config:
  method: random
  parameters: 
    lr:
      value: 0.00005
    lr_scheduler_type:
      value: cosine
    num_train_epochs:
      value: 50
  metric:
    goal: "maximize"
    name: "eval/spearman"

training_setting:
  per_device_train_batch_size: 4
  per_device_eval_batch_size : 8
  gradient_accumulation_steps: 4
  gradient_checkpointing: False
  
metric_for_best_model: spearman
#{'loss': 0.004, 'grad_norm': 0.2206324189901352, 'learning_rate': 4.998961690809628e-05, 'epoch': 0.4579278763594734}