task: determined
goal: classification

dataset: 
  dataname: GO_MF
  csv_root: data/GO/splits/GO_MF_{}.csv
  num_classes: 489

project_name: EsmMHAGraphHead-GO-MF-C300M

esm_config:
  model_name: esmc_300m
  model_size: 300M
  in_features: 960
  hidden_features: 960
  output_attentions: True
  contact_compression: mean_head
  num_hidden_layers: 30
  num_attention_heads: 15

head_config:
  head_name: EsmMHAGraphHead
  attention_features: 128
  attention_heads: 4
  dropout_rate: 0.1

fp16: True
quantized: False
peft: True

sweep_config:
  method: random
  parameters: 
    lr:
      value: 0.0001
    lr_scheduler_type:
      value: cosine
    num_train_epochs:
      value: 20
  metric:
    goal: "maximize"
    name: "eval/f1_max"

training_setting:
  per_device_train_batch_size: 4
  per_device_eval_batch_size : 8
  gradient_accumulation_steps: 4
  gradient_checkpointing: False
  criterion: bce
 
metric_for_best_model: f1_max
